@page
@model Applique.Chronofold.Web.Pages.IndexModel
@{
    ViewData["Title"] = "2D Vacuum";
}

<div id="canvas-container">
    <svg id="universe"></svg>
</div>

@section Scripts {
    <script>
        console.log("Chronofold Observatory: Online");
    </script>
}