<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronofold - Simulation</title>
    <link rel="stylesheet" href="/assets/simulation.css">
    <link rel="stylesheet" href="/assets/status.css">
    <script src="/assets/lib/d3/d3_7_9_0.min.js" defer></script>
    <script type="module" src="/assets/js/simulation.js" defer></script>
</head>

<body>
    <header>
        <div class="brand">CHRONOFOLD</div>
        <div class="status">Started</div>
        <div class="counter"><span id="counter-display"></span></div>
    </header>
    <main>
        <main>
            <svg id="universe"></svg>
        </main>
    </main>
</body>

</html>