<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronofold - Vacuum Observatory</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/d3/d3_7_9_0.min.js"></script>
    <script src="~/js/api.js" asp-append-version="true"></script>
    <script src="~/js/vacuum.js" asp-append-version="true"></script>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>